@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #F5F5F5;
  --text-color: #0f172a; /* text-slate-900 */
}

.dark-theme {
  --bg-color: #1E1E1E;
  --text-color: #ffffff;
}

body {
  font-kerning: normal;
  font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.7s ease-out, color 0.7s ease-out;
}

.open-meteo-link-hover:hover {
  color: #4f6814;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 68px;
  background-color: white;
  z-index: 5;
}

.header-shadow {
  box-shadow: 0 2px 4px 0 rgba(237, 235, 229, 1);
}

.station-name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
    font-weight: normal;
    font-size: 0.775em;
    pointer-events: none;
}

.station-container:hover .station-name {
  color: black;
}

.app-mobile-width {
  max-width: 750px;
  margin: 0 auto;
  width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.maplibregl-ctrl-attrib {
  background-color: transparent !important;
  box-shadow: none !important;
  transition: opacity 0.2s;
}

.dark-theme .maplibregl-ctrl-attrib {
  background-color: transparent !important;
  color: #555555 !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.dark-theme .maplibregl-ctrl-attrib a {
  color: #555555 !important;
  outline: none !important;
  box-shadow: none !important;
}

.maplibregl-ctrl-attrib button {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-25%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
  white-space: nowrap;
}

.animate-marquee-reverse {
  animation: marquee-reverse 35s linear infinite;
  white-space: nowrap;
}

@keyframes marquee-reverse {
  0% { transform: translateX(-25%); }
  100% { transform: translateX(0); }
}
