@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-kerning: normal;
  font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
}

.open-meteo-link-hover:hover {
  color: #4f6814;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 68px;
  background-color: white;
  z-index: 5;
}

.header-shadow {
  box-shadow: 0 2px 4px 0 rgba(237, 235, 229, 1);
}

.station-name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
    font-weight: normal;
    font-size: 0.775em;
    pointer-events: none;
}

.station-container:hover .station-name {
  color: black;
}

@media (max-width: 768px) { /* Apply styles for screens smaller than or equal to 768px */
  .app-mobile-width {
    max-width: 375px;
    margin: 0 auto;
  }
}
